{% extends "layout.twig" %}

{% block content %}
<div class="row">
    <h1>Projects</h1>
    <table class="table">
        <tr>
            <th>Project name</th>
            <th></th>
        </tr>
        {% for project in projects %}
        <tr>
            <td>{{ project.title }}</td>
            <td>
                <a class="btn btn-primary" href="/projects/delete?id={{ project.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}